<!DOCTYPE html>
<html lang="{{ .Site.Language.LanguageCode | default "en-US" }}">
  <head>
    <title>{{ .Permalink }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="robots" content="noindex">
    <meta http-equiv="refresh" content="0; url={{ .Permalink }}">
  </head>
  <body>
    <p><a href="{{ .Permalink }}">Redirecting to {{ .Permalink }}</a></p>
  </body>
</html>
